  <h2 id="schedule">Schedule</h2>

  <div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td valign="top" >09:00 - 10:30</td>        <!-- time    -->
        <td>Introduction <br>
<a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/00-short-introduction-to-Python/">Short Introduction to Programming in Python</a> <br> 
<a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/01-starting-with-data/">Starting With Data</a><br>
</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 - 10:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
  </tr>
      <tr>               <!-- row 4   -->
        <td>10:45 - 12:00</td>        <!-- time    -->
        <td><a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/02-index-slice-subset/">Indexing, Slicing and Subsetting DataFrames in Python</a><br>
<a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/03-data-types-and-format/">Data Types and Formats</a>
</td>        <!-- content -->
    
</tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
          </tr>
      <tr>               <!-- row 6   -->
        <td>13:00 - 15:00</td>        <!-- time    -->
        <td><a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/03-data-types-and-format/">Data Types and Formats ctd. </a> <br> 
        <a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/04-merging-data/">Combining DataFrames with Pandas</a><br>
        <a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/05-loops-and-functions/">Data Workflows and Automation</a>
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:00 - 15:15</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
        </tr>
      <tr>               <!-- row 8   -->
        <td>15:15 - 17:00</td>        <!-- time    -->
        <td><a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/05-loops-and-functions/">Data Workflows and Automation  ctd.<a</a><br>

        <a href="https://yarabfs.github.io/2023-10-03-Intro-to-Python/09-exercises-with-Pandas/">Group Exercise</a>
        </td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
